<div class="message">
  <p> <!-- Below, we reference each message as "message" and not a instance variable due to naming conventions -->
    <small><em>Created: <%= time_ago_in_words(message.created_at) %> ago </em></small>
  </p>
  <p>
    <%= gravatar_for(message.chef, size: 40) %>
    <strong><%= message.chef.chefname.capitalize %></strong><!-- Displays Chef's name associated w/ message -->
    <span class="content">
      <%= message.content %> <!-- Displays content of message  -->
    </span>
  </p>
</div>