<div class="container">
  <footer class="footer">
    <hr />
    <small>
      Copyright &copy; My Recipes</a>
      by <a href="http://www.facebook.com/visceralcomputers">Benjamin Broestl</a>
    </small>
        <a class="pull-right" href="/about">About</a>
  </footer>
</div>