<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% flash.each do |name, msg| %>
       <div class="alert alert-<%= name %>"> <!-- This name will be filled in by the attribute flash[] like :success-->
         <a href="#" class="close" data-dismiss="alert">&#215;</a> <!-- Shows the X Close button -->
         <%= msg %>
       </div>
    <% end %>
  </div>
</div>
